.header{
	width: 100%;
}

.logo{
    padding: 20px 0;
}


.header-cont{
    position: relative;
    width: 270px;
    min-height: 500px;
}

.image1{
    position: absolute;
    top: 50px;
    left: 60px;
    width: 150px;
    height: 150px;
}

.image2{
    position: absolute;
    bottom: 200px;
    left: 60px;
    width: 150px;
    height: 150px;
}

.image3{
    position: absolute;
    top: 100px;
    left: 60px;
    width: 150px;
    height: 150px;
}



.image4{
    position: absolute;
    top: 310px;
    right: 75px;
    width: 120px;
    height: 29px;
}

.image5{
    position: absolute;
    top: 340px;
    right: 73px;
    width: 120px;
    height:34px;
}

.image6{
    position: absolute;
    bottom: 80px;
    right: 32px;
}





.mainmenu{
    display: none;
}

.menu{
    width: 100%;    
    padding: 20px 0;
    background-color: #fec800;
    border-bottom: 3px solid #fff;

    /*background: #d98100;
    background: -moz-linear-gradient(left, #d98100 10%, #feff42 37%, #feff42 37%, #feff42 71%, #d98100 91%, #d98100 91%);
    background: -webkit-linear-gradient(left, #d98100 10%,#feff42 37%,#feff42 37%,#feff42 71%,#d98100 91%,#d98100 91%);
    background: linear-gradient(to right, #d98100 10%,#feff42 37%,#feff42 37%,#feff42 71%,#d98100 91%,#d98100 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d98100', endColorstr='#d98100',GradientType=1 );*/
}

.menu a{
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
}

.menu a:hover{
    color: #fff;
    text-decoration: none;
}

.menu a:visited{
    color: #fff;
    text-decoration: none;
}

.menu a i{
    margin: 0 10px 0 0;
    font-weight: lighter;
}

.fechar{
    color: #fff;
    font-size: 40px;
    float: right;
    margin: 0 50px 0 0;
}

.fechar:hover{
    color: #fff;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    width: 100%;    
    padding: 20px 0 0 0;
}


.nav-menu a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin: 10px 0;
}

.nav-menu a:hover{
    text-decoration: none;
    color: #ffe800;    
}


/*Classe que define o menu fixo*/
.menu-fixed{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}


.endereco{
    padding: 50px 0 0px 0;
}

.endereco strong{
    font-size: 25px;
}





/*RESPONSIVO 960*********************************************************************************/
@media(min-width:960px){


.nav, .menu{
    display: none;
}

.mainmenu{
    display: block;
    width: 100%;    
    padding: 23px 0 17px 0;
    background-color: #fec800;
    border-bottom: 3px solid #fff;

    /*background: #d98100;
    background: -moz-linear-gradient(left, #d98100 10%, #feff42 37%, #feff42 37%, #feff42 71%, #d98100 91%, #d98100 91%);
    background: -webkit-linear-gradient(left, #d98100 10%,#feff42 37%,#feff42 37%,#feff42 71%,#d98100 91%,#d98100 91%);
    background: linear-gradient(to right, #d98100 10%,#feff42 37%,#feff42 37%,#feff42 71%,#d98100 91%,#d98100 91%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d98100', endColorstr='#d98100',GradientType=1 );*/
}





.mainmenu-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style: none;
}

.mainmenu-flex li{
    margin: 0 10px;
}

.mainmenu-flex li a{    
    /*padding: 20px 15px 21px 15px;*/
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400; 

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;     
}

.mainmenu-flex li a:hover{
    color: #000;
}

.mainmenu-flex li a::after{    
    content: "";
    display: table;
    margin: 5px auto 0 auto;
    width: 0%;
    height: 1px;
    background-color: #000;
    padding: 0;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; 
}

.mainmenu-flex li a:hover::after{    
   width: 60%;   
}



}





/*RESPONSIVO 1024*********************************************************************************/
@media(min-width:1024px){

.header-cont{
    position: relative;
    width: 700px;
    min-height: 650px;    
}

.image1{
    position: absolute;
    top: 60px;
    left: 0;
    width: 252px;
    height:252px;
}

.image2{
    position: absolute;
    bottom: 50px;
    left: 0;    
    width: 252px;
    height:252px;
}

.image3{
    position: absolute;
    top: 200px;
    left: 0;    
    width: 252px;
    height:252px;
}



.image4{
    position: absolute;
    top: 230px;
    right: 0;       
    width: 300px;
    height: 72px;
}

.image5{
    position: absolute;
    top: 295px;
    right: 0;           
    width: 300px;
    height: 84px;
}

.image6{
    position: absolute;
    bottom: 230px;
    right: 50px;
}



}